<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>405370285400-jmkhnf90t00fcsdf7ji0a14osj19rsfa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.405370285400-jmkhnf90t00fcsdf7ji0a14osj19rsfa</string>
	<key>API_KEY</key>
	<string>AIzaSyB6AxCB7Jktaj91ocTxBPo2BaM9eX6_RcI</string>
	<key>GCM_SENDER_ID</key>
	<string>405370285400</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.petsApp</string>
	<key>PROJECT_ID</key>
	<string>teck-app-4b896</string>
	<key>STORAGE_BUCKET</key>
	<string>teck-app-4b896.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:405370285400:ios:f96478e03d2155458b092d</string>
</dict>
</plist>